<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634344250588-crb3joqhnvffb934leqmg9u5dmqedhhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634344250588-crb3joqhnvffb934leqmg9u5dmqedhhc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>634344250588-dhqb4iuf0ou9960p1itmkmlopq98nqr0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsKu9_EGDbOHYFVIagrhAQ2eoxwlkwoKk</string>
	<key>GCM_SENDER_ID</key>
	<string>634344250588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.dailykpop</string>
	<key>PROJECT_ID</key>
	<string>dailykpop-ee1e3</string>
	<key>STORAGE_BUCKET</key>
	<string>dailykpop-ee1e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634344250588:ios:a3528dc6c950189158e819</string>
</dict>
</plist>